.main{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
}

.main > div{
  padding: 80px;
  box-shadow: 2px 2px 5px grey;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  text-decoration: none;
  border: 1px solid rgb(202, 202, 202)
}

.main > div:hover{
  background-color: rgb(223, 253, 250);
}

.main a{
  text-decoration: none;
}
